input {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin-left:67%;
}


li.hide {
    display: none;
}

.photo{
    width: 400px;
    height: 400px;
    position: relative;
    left: 80%;
    top: 300px;
}
.comment{
    position: absolute;
    left: -12%;
    top: -50px;
    width:100px;
    height:100px;
    background: black;
}
.text{
    color: white;
    font-size: 24px;
}
.swiper{
  width: 80%;
}
.swiper-wrapper {
    column-gap: 30px;

}
.catalog-slide {
    width: 32%!important;
}
.slider-photo {
    width: 100%;
    height: 200px;
}
.slider-price {
}
.price-span {
}
.slider-name {
}
.slider-street {
}
.slider-line {
}
.slider-desc {
    display: flex;
    justify-content: space-between;
}

.location{
    text-align: center;
}